<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="signup-form">
  <%= form_tag(finances_updateprovidentfund_path(@pf.id), method: "post") do %>
    <h1>Update Provident Fund</h1>
    <%Array(@pf).each do |pf| %>
      <div class="form-group">
        <%= label_tag(:aadhar, "aadhar:") %>
        <%= text_field_tag(:aadhar,pf.aadhar) %><br/>
      </div>
      <div class="form-group">
        <%= label_tag(:pan, "pan:") %>
        <%= text_field_tag(:pan,pf.pan) %><br/>
      </div>
      <div class="form-group">
        <%= label_tag(:bank_name, "bank_name:") %>
        <%= text_field_tag(:bank_name,pf.bank_name) %><br/>
      </div>
      <div class="form-group">
        <%= label_tag(:acc_number, "acc_number:") %>
        <%= text_field_tag(:acc_number,pf.acc_number) %><br/>
      </div>
      <div class="form-group">
        <%= label_tag(:ifsc, "ifsc code:") %>
        <%= text_field_tag(:ifsc,pf.ifsc) %><br/>
      </div>
      <div class="form-group">
        <%= submit_tag("Submit") %>
      </div>
    <% end %>
    <%= submit_tag("Submit") %>
  <%end %>
</div>