<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="signup-form">
  <%= form_tag("/finances/forsaving", method: "get") do %>
    <h1> Add Insurance Details</h1>
    <div class="form-group">
      <%=label_tag(:relation_type,"relation type") %>
      <%= select_tag(:relation_type,options_for_select([['mother','mother'],['father','father'],['spouse','spouse'],['child','child']]))%><br/>
    </div>
    <div class="form-group">
      <%= label_tag(:name_of_relation, "name of relation:") %>
      <%= text_field_tag(:name_of_relation) %><br/>
    </div>
    <div class="form-group">
      <%= label_tag(:dob_of_relation, "dob of relation:") %>
      <%= date_select(:dob_of_relation,:dob) %><br/>
    </div>
    <div class="form-group">
      <%= label_tag(:gender_of_relation, "male:") %>
      <%= radio_button_tag(:gender_of_relation,"male") %>
      <%= label_tag(:gender_of_relation, "female:") %>
      <%= radio_button_tag(:gender_of_relation,"female") %><br/>
    </div>
    <div class="form-group">
      <%= submit_tag("Submit") %>
    </div>
<% end %>
</div>