<h1>PF Details</h1>
<ul style="width:220px">
  <%@user=current_user %>
  <% if @user.providentfund.nil? %>
  <li style="float:none; width:100%"><%= link_to "Add Provident Fund",filldetails_finances_path %></li>
    <%end %>
  <li style="float:none; width:100%"><%= link_to "Add Insurance ", finances_insurancefill_path %></li>
  <li style="float:none; width:100%"><%= link_to "show insurance",insurance_path %></li>
</ul>
<%if @pf.nil? %>

<%else %>
  <table>
    <tr>
      <th>Id</th>
      <th>Aadhar No.</th>
      <th>Account No.</th>
      <th>Bank Name</th>
      <th>IFSC</th>
      <th>PAN</th>
    </tr>
    <% Array(@pf).each do |pf|%>
      <tr>
        <td><%=link_to pf.id,edit_providentfund_path(pf.id)%></td>
        <td><%=pf.aadhar %></td>
        <td><%=pf.acc_number %></td>
        <td><%=pf.bank_name %></td>
        <td><%=pf.ifsc %></td>
        <td><%=pf.pan %></td>
      </tr>
    <%end %>
  </table>
<%end %>




<%#Insurance.find_all_by_company_name_and_empid(current_user.company_name,current_user.empid).%>



<%#@p=PersonalDetail.find_by_company_name_and_empid(current_user.company_name,current_user.empid) %>








<%#link_to "next",personals_address_id_path(@) %>
<%#Address.find_all_by_company_name_and_empid(current_user.company_name,current_user.empid).each do |addr|%>
