<h1>Insurance Details</h1><br>
<table >
  <tr>
    <th>S.no</th>
    <th>Employee ID</th>
    <th>Name</th>
    <th>Relation Type</th>
    <th>Beneficiary Name</th>
    <th>Date of Birth</th>
    <th>Gender</th>
  </tr>
  <% find_all_user_by_company_name(current_user).each do |eachperson|  %>
    <tr>
    <td><%= eachperson.id %></td>
    <td><%= eachperson.empid %></td>
    <td><%= eachperson.name %></td>
      <% insurance_set=find_all_insurancedetail_by_empid(eachperson) %>
      <% count= insurance_set.size %><%i=0 %>
    <% insurance_set.each do |person| %>

        <td><%= person.relation_type %></td>
        <td><%= person.name %></td>
        <td><%= person.dob %></td>
        <td><%= person.gender %></td>
        <% i=i+1 %>
        <% if i!=count %>
          </tr>
          <td></td><td></td><td></td>
          <%end %>
    <%end %>

  <% end %>

</table>
<br><br>
<h1>ProvidentFund Details</h1><br>
<table>
  <tr>
    <th>S.no</th>
    <th>Employee ID</th>
    <th>Name</th>
    <th>Aadhar number</th>
    <th>PAN</th>
    <th>Bank Name</th>
    <th>Account number</th>
    <th>IFSC</th>
  </tr>
  <% find_all_user_by_company_name(current_user).each do |eachperson| %>
      <tr>
        <td><%= eachperson.id %></td>
        <td><%= eachperson.empid %></td>
        <td><%= eachperson.name %></td>
        <% find_providentfunddetail_by_empid(eachperson).each do |person| %>
        <td><%= person.aadhar %></td>
        <td><%= person.pan %></td>
        <td><%= person.bank_name %></td>
        <td><%= person.acc_number %></td>
        <td><%= person.ifsc %></td>
      </tr>
    <%end %>
  <%end %>


</table>