<h1>Insurance details</h1><br>
<table >
  <tr>
    <th>S.no</th>
    <th>Employee ID</th>
    <th>Name</th>
    <th>Relation Type</th>
    <th>Beneficiary Name</th>
    <th>Date of Birth</th>
    <th>Gender</th>
  </tr>
  <% User.find_all_by_company_name(current_user.company_name).each do |eachperson|  %>
    <tr>
    <td><%= eachperson.id %></td>
    <td><%= eachperson.empid %></td>
    <td><%= eachperson.name %></td>
    <% Insurance.find_all_by_empid(eachperson.empid).each do |person| %>

        <td><%= person.relation_type %></td>
        <td><%= person.name %></td>
        <td><%= person.dob %></td>
        <td><%= person.gender %></td>
      </tr>
        <td></td><td></td><td></td>
    <%end %>

  <% end %>

</table>
<br><br>
<h1>PF details</h1><br>
<table>
  <tr>
    <th>S.no</th>
    <th>Employee ID</th>
    <th>Name</th>
    <th>Aadhar number</th>
    <th>PAN</th>
    <th>Bank Name</th>
    <th>Account number</th>
    <th>IFSC</th>
  </tr>
  <% User.find_all_by_company_name(current_user.company_name).each do |eachperson| %>
      <tr>
        <td><%= eachperson.id %></td>
        <td><%= eachperson.empid %></td>
        <td><%= eachperson.name %></td>
        <% Pf.find_all_by_empid(eachperson.empid).each do |person| %>
        <td><%= person.aadhar %></td>
        <td><%= person.pan %></td>
        <td><%= person.bank_name %></td>
        <td><%= person.acc_number %></td>
        <td><%= person.ifsc %></td>
      </tr>
    <%end %>
  <%end %>


</table>