<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="signup-form">

<%= form_tag(educationals_updateeducation_path(@ed.id), method: "post") do %>
    <h1>Update your Education</h1>
     <%Array(@ed).each do |add| %>
      <div class="form-group">
    <%=label_tag(:education_type,"education_type:") %>
    <%= select_tag(:education_type,options_for_select([['10th','10th'],['12th','12th'],['b.tech','b.tech'],['b.com','b.com'],['m.tech','m.tech'],['ms','ms'],['Phd','p.hd'],['other','other']],add.education_type))%>
      </div>
      <div class="form-group">
    <%= label_tag(:institution, "institution:") %>
    <%= text_field_tag(:institution,@ed.institution) %><br/>
      </div>
      <div class="form-group">
    <%=label_tag(:stream,"stream:") %>
    <%= select_tag(:stream,options_for_select([['state board','state board'],['central-board','central-board'],['cse','cse'],['it','it'],['ict','ict'],['other','other']],add.stream))%><br/>
      </div>
      <div class="form-group">
    <%= label_tag(:percentage, "percentage:") %>
    <%= text_field_tag(:percentage,@ed.percentage) %><br/>
      </div>
      <div class="form-group">
    <%= label_tag(:location, "location:") %>
    <%= text_field_tag(:location,@ed.location) %><br/>
      </div>
      <div class="form-group">
    <%= label_tag(:year_completion, "year_of_completion") %>
    <%= text_field_tag(:year_completion,@ed.year_completion) %><br/>
      </div>
      <div class="form-group">
    <%= submit_tag("Submit") %>
      </div>
    <% end %>
<%end %>
<%=link_to "back",projects_add_info_links_path %>
</div>