<h1>My Educational Details</h1>
<ul style="width:220px "><li style="width:100%"><%= link_to "Fill your Education",educationals_filldetails_path %></li></ul>
<%if (@education).nil?%>

<%else %>
  <table>
    <tr>
      <th>Id</th>
      <th>Education Type</th>
      <th>Institution</th>
      <th>Stream</th>
      <th>Percentage</th>
      <th>Year of Completion</th>
    </tr>
    <% @education.each do |edu| %>
      <tr>
        <td><%=link_to edu.id,educationals_editeducation_path(edu.id) %></td>
        <td><%=edu.education_type%></td>
        <td><%=edu.institution %></td>
        <td><%=edu.stream %></td>
        <td><%=edu.percentage %></td>
        <td><%=edu.year_completion %></td>
      </tr>
    <%end %>
  </table>
<%end %>







