<h1>Educational Details</h1><br>
<table >
  <tr>
    <th>S.no</th>
    <th>Employee ID</th>
    <th>Name</th>
    <th>Education level</th>
    <th>Stream</th>
    <th>Percentage</th>
    <th>Year of completion</th>
    <th>Institution</th>
    <th>Location</th>
  </tr>
  <% User.find_all_by_company_name(current_user.company_name).each do |eachperson|  %>
      <tr>
        <td><%= eachperson.id %></td>
        <td><%= eachperson.empid %></td>
        <td><%= eachperson.name %></td>

        <% EducationalDetail.find_all_by_empid(eachperson.empid).each do |person| %>
        <td><%= person.education_type %></td>
        <td><%= person.stream %></td>
        <td><%= person.percentage %></td>
        <td><%= person.year_completion %></td>
        <td><%= person.institution %></td>
        <td><%= person.location %></td>

          </tr>
          <td></td>
            <td></td>
            <td></td>



    <%end %>


  <% end %>

</table>