
<div class="limiter">
  <div class="container-table100">
    <div class="wrap-table100">
      <div class="table100">
        <table>
          <thead>
          <tr class="table100-head">
<!--            <th class="column1">S.no</th>-->
<!--            <th class="column2">Employee ID</th>-->
<!--            <th class="column3">Name</th>-->
            <th class="column4">Education level</th>
            <th class="column5">Stream</th>
            <th class="column6">Percentage</th>
            <th class="column7">Year of completion</th>
            <th class="column8">Institution</th>
            <th class="column9">Location</th>
          </tr>
          </thead>
          <tbody>
          <% User.find_all_by_company_name(current_user.company_name).each do |eachperson|  %>
            <tr>
<!--            <td class="column1"><%#= eachperson.id %></td>-->
<!--            <td class="column2"><%#= eachperson.empid %></td>-->
<!--            <td class="column3"><%#= eachperson.name %></td>-->
              <% EducationalDetail.find_all_by_empid(eachperson.empid).each do |person| %>
            <td class="column4"><%= person.education_type %></td>
            <td class="column5"><%= person.stream %></td>
            <td class="column6"><%= person.percentage %></td>
                <td class="column7"><%= person.year_completion %></td>
                <td class="column8"><%= person.institution %></td>
                <td class="column9"><%= person.location %></td>

              <%end %>


          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
