<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="signup-form">

  <%= form_tag(employments_updateemployment_path(@em.id), method: "post") do %>
    <h2>Update your Employment</h2>
    <%Array(@em).each do |add| %>
      <div class="form-group">
        <%= label_tag(:comp_name, "comp_name:") %>
        <%= text_field_tag(:comp_name,@em.comp_name) %><br/>
      </div>
      <div class="form-group">
        <%= label_tag(:from_date, "from_date:") %>
        <%= date_select(:from_date,:from_date) %><br/>
        <%= label_tag(:to_date, "to_date:") %>
        <%= date_select(:to_date,:to_date) %><br/>
      </div>
      <div class="form-group">
        <%=label_tag(:department,"department:") %>
        <%= select_tag(:department,options_for_select([['hr','hr'],['developer','developer'],['admin','admin'],['sales','sales'],['marketing','marketing'],['support','support'],['manager','manager']]))%><br/>
      </div>
      <div class="form-group">
        <%= label_tag(:experience, "experience:") %>
        <%= text_field_tag(:experience,@em.experience) %><br/>
      </div>
    <%end %>
    <div class="form-group">
      <%= submit_tag("Submit") %>
    </div>
<% end %>

<%=link_to "back",projects_add_info_links_path %>