<h1>My employment Details</h1>
<%#=link_to "edit",employments_editemployment_path %>
<ul style="width: 220px"><li style="float:none; width:100%"><%= link_to "Fill your Employment",employments_filldetails_path %></li></ul>

<%if (@empl).empty?%>

<%else %>
  <table>
    <tr>
      <th>Id</th>
      <th>Company Name</th>
      <th>Designation</th>
      <th>Experience</th>
    </tr>
    <% @empl.each do |emp| %>
      <tr>
        <td><%=link_to emp.id,employments_editemployment_path(emp.id) %></td>
        <td><%=emp.company_name %></td>
        <td><%=emp.designation %></td>
        <td><%=emp.experience %></td>
      </tr>
    <%end %>
  </table>
<%end %>
