<h1>Employment Details</h1><br>
<table >
  <tr>
    <th>S.no</th>
    <th>Employee ID</th>
    <th>Name</th>
    <th>Company name</th>
    <th>From</th>
    <th>To</th>
    <th>Designation</th>
    <th>Experience</th>
  </tr>
  <% find_all_user_by_company_name(current_user).each do |eachperson|  %>

      <tr>
        <td><%= eachperson.id %></td>
        <td><%= eachperson.empid %></td>
        <td><%= eachperson.name %></td>
        <% empset=find_all_employmentdetail_by_empid(eachperson) %>
        <% count=empset.size %><% i=0 %>
        <% empset.each do |person| %>
        <td><%= person.company_name %></td>
        <td><%= person.from_date %></td>
        <td><%= person.to_date %></td>
        <td><%= person.designation %></td>
        <td><%= person.experience %></td>

          <% i=i+1 %>
          <% if i!=count %>
            </tr>
            <td></td><td></td><td></td>

          <% end %>
        <% end %>


    <%end %>




</table>