<h1>personal details</h1><br>
<table >
  <tr>
    <th>S.no</th>
    <th>Employee ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Date of Birth</th>
    <th>Contact</th>
    <th>Address</th>
  </tr>
<% User.find_all_by_company_name(current_user.company_name).each do |eachperson|  %>
      <tr>
        <td><%= eachperson.id %></td>
        <td><%= eachperson.empid %></td>
        <td><%= eachperson.name %></td>
        <% PersonalDetail.find_all_by_empid(eachperson.empid).each do |person| %>
        <td><%= person.email %></td>
        <td><%= person.gender %></td>
        <td><%= person.dob %></td>
        <td><%= person.contact %></td>


    <% Address.find_all_by_company_name_and_empid( current_user.company_name, eachperson.empid).each do |address| %>
      <td>
        <%= address.doorno %>,
        <%= address.street %>,
        <%= address.area %>,
        <%= address.city %>,
        <%= address.state %>,
        <%= address.pincode %>.
      </td>
          </tr>
          <td></td><td></td><td></td>
          <td></td><td></td><td></td><td></td>
    <%end %>
    <%end %>
  <% end %>

</table>