<h2>address details</h2>
<div class="container">

<%= form_tag("/personals/forsaving", method: "get") do %>


    <%= label_tag(:doorno, "door_no") %>
  <%= text_field_tag(:doorno) %><br/>

    <%= label_tag(:street, "street") %>
   <%= text_field_tag(:street) %><br/>

    <%= label_tag(:city, "city:") %>
     <%= text_field_tag(:city) %><br/>

   <%= label_tag(:district, "district:") %>
    <%= text_field_tag(:district) %><br/>

  <%= label_tag(:state, "state:") %>
  <%= text_field_tag(:state) %><br/>

  <%= label_tag(:pincode, "pincode") %>
  <%= text_field_tag(:pincode) %><br/>

  <%= label_tag(:country, "country:") %>
  <%= text_field_tag(:country) %><br/>

  <%= label_tag(:address_type, "address_type:") %>
  <%= text_field_tag(:address_type) %><br/>
  <%=label_tag(:address_type,"address type") %>
  <%= select_tag(:address_type,options_for_select([['present',1],['permanent',2],['previous',3]]))%>
</div>


  <%= submit_tag("Submit") %>
<%end %>