<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="signup-form">
  <%= form_tag("/personals/updatepersonal", method: "get") do %>
    <h1>Update your Personal Details</h1>
    <div class="form-group">
      <%= label_tag(:name, "name:") %>
      <%= text_field_tag(:name,@pe.name) %><br/>
    </div>
    <div class="form-group">
      <%= label_tag(:email, "email:") %>
      <%= text_field_tag(:email,@pe.email) %><br/>
    </div>
    <div class="form-group">
      <%= label_tag(:contact, "contact:") %>
      <%= text_field_tag(:contact,@pe.contact) %><br/>
    </div>
    <div class="form-group">
      <%= label_tag(:dob, "dob:") %>
      <%= date_select(:dob,:dob) %><br/>
    </div>
    <div class="form-group">
      <%if @pe.gender=="male" %>
        <%= label_tag(:gender, "male:") %>
        <%= radio_button_tag(:gender,"male",checked:true) %>
        <%= label_tag(:gender, "female:") %>
        <%= radio_button_tag(:gender,"female") %><br/>
      <%else %>
        <%= label_tag(:gender, "male:") %>
        <%= radio_button_tag(:gender,"male") %>
        <%= label_tag(:gender, "female:") %>
        <%= radio_button_tag(:gender,"female",checked:true) %><br/>
      <%end %>
    </div>

    <div class="form-group">
      <%= submit_tag("Submit") %>
    </div>
  <% end %>
  <%=link_to "back",projects_add_info_links_path %>
</div>