<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="signup-form">
  <%= form_tag(personals_updateaddress_path(@addd.id), method: "post") do %>
    <h2>Update your Address</h2>
    <%Array(@addd).each do |add| %>
      <div class="form-group">
        <%= label_tag(:doorno, "door_no") %>
        <%= number_field_tag(:doorno,value=add.doorno) %><br/>
      </div>
      <div class="form-group">
        <%= label_tag(:street, "street") %>
        <%= text_field_tag(:street,add.street) %><br/>
      </div>
      <div class="form-group">
        <%= label_tag(:city, "city:") %>
        <%= text_field_tag(:city,add.city) %><br/>
      </div>
      <div class="form-group">
        <%= label_tag(:district, "district:") %>
        <%= text_field_tag(:district,add.district) %><br/>
      </div>
      <div class="form-group">
        <%= label_tag(:state, "state:") %>
        <%= text_field_tag(:state,add.state) %><br/>
      </div>
      <div class="form-group">
        <%= label_tag(:pincode, "pincode") %>
        <%= text_field_tag(:pincode,add.pincode) %><br/>
      </div>
      <div class="form-group">
        <%= label_tag(:country, "country:") %>
        <%= text_field_tag(:country,add.country) %><br/>
      </div>
      <div class="form-group">
        <%=label_tag(:address_type,"address type") %>
        <%= select_tag(:address_type,options_for_select([['present','present'],['permanent','permanent'],['previous','previous']]))%>
      </div>
    <%end %>
    <div class="form-group">
      <%= submit_tag("Submit") %>
    </div>
  <% end %>
</div>