
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="signup-form">



<%= form_tag("/personals/addressupdate", method: "get") do %>
  <%#byebug %>
  <%#@pe=PersonalDetail.find_by_user_id(current_user.id) %>
  <%#if @pe %>
    <h2>Personal Details</h2>
    <div class="form-group">
    <%= label_tag(:name, "name:") %>
    <%= text_field_tag(:name) %><br/>
    </div>
  <%#else %>
    <%#label_tag(:name, "name:") %>
    <%#text_field_tag(:name,"varshitha") %><br/>
    <%#end %>
    <div class="form-group">
    <%= label_tag(:email, "email:") %>
    <%= text_field_tag(:email) %><br/>
    </div>
    <div class="form-group">
    <%= label_tag(:contact, "contact:") %>
    <%= text_field_tag(:contact) %><br/>
    </div>
    <div class="form-group">
    <%= label_tag(:dob, "dob:") %>
    <%= date_select(:dob,:dob) %><br/>
    </div>
    <div class="form-group">
    <%= label_tag(:gender, "male:") %>
    <%= radio_button_tag(:gender,"male") %>
    <%= label_tag(:gender, "female:") %>
    <%= radio_button_tag(:gender,"female") %><br/>
    </div>

<%#@temp=params[:num_address].to_i%>
    <div class="form-group">
      <%= submit_tag("Submit") %>
    </div>
  <% end %>



<%=link_to "back",projects_add_info_links_path %>
</div>