<h1>my personal data</h1>


<%#link_to "edit",personals_editpersonal_path %>

<%= link_to "enter",personals_filldetails_path %>
<%= link_to "add address details", personals_addressfill_path %>
<%#@p=PersonalDetail.find_by_company_name_and_empid(current_user.company_name,current_user.empid) %>
<%if (@p).nil?%>

  <%else %>
   <% Array(@p).each do |pers| %>
    id:<%=link_to pers.id, personals_editpersonal_path(pers.id) %>
    name:<%=pers.name %><br/>
    gender:<%=pers.gender %><br/>
    email:<%=pers.email %><br/>
    dob:<%=pers.dob %><br/>
    contact:<%=pers.contact %><br/>
    <%end %>

<%end %>

<%=link_to "addresses",address_path %>





<%#link_to "next",personals_address_id_path(@) %>
   <%#Address.find_all_by_company_name_and_empid(current_user.company_name,current_user.empid).each do |addr|%>
