<h1>Personal Details</h1><br>
<table >
  <tr>
    <th>S.no</th>
    <th>Employee ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Date of Birth</th>
    <th>Contact</th>
    <th>Address</th>
  </tr>
<% find_all_user_by_company_name(current_user).each do |eachperson|  %>
      <tr>
        <td><%= eachperson.id %></td>
        <td><%= eachperson.empid %></td>
        <td><%= eachperson.name %></td>
        <% find_all_personaldetail_by_empid(eachperson).each do |person| %>
        <td><%= person.email %></td>
        <td><%= person.gender %></td>
        <td><%= person.dob %></td>
        <td><%= person.contact %></td>

          <td>
    <% find_all_address_by_companyname_and_empid(current_user, eachperson).each do |address| %>
        <ol><li>
        <%= address.doorno %>,
        <%= address.street %>,
        <%= address.area %>,
        <%= address.city %>,
        <%= address.state %>,
        <%= address.pincode %>.

      </li>
        </ol>
      <%end %></td></tr>
    <%end %>
  <% end %>

</table>