
<!DOCTYPE html>
<html>
<head>
  <title>Freshjoinee</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<% if user_signed_in? %><ul>
  <% Permission.find_all_by_company_name_and_empid(current_user.company_name,current_user.empid).each do |perm| %>
    <% if perm.personal_details %>
      <li><%= link_to('Personal Details', users_personaldetails_path, :method=>'get') %></li>
    <%end %>
    <% if perm.education_details %>
      <li><%= link_to('Educational Details', users_educationaldetails_path, :method=>'get') %></li>
    <%end %>
    <% if perm.employment_details %>
      <li><%= link_to('Employment Details', users_employmentdetails_path, :method=>'get') %></li>
    <%end %>
    <% if perm.finance_details %>
      <li> <%= link_to('Finance Details', users_financedetails_path, :method=>'get') %></li>
    <%end %>
  <%end %>



  <% #@current_user =User.find_by(session[:current_user_id]%>

  <%if current_user.login_type =="admin" %>
    <li>
      <%= link_to('Add Users',projects_second_path,:method=>'get') %>
    </li>
    <li>
      <%= link_to('Give Details',projects_third_path,:method=>'get') %>
    </li>
  <%else %>
    <li>
      <%= link_to('Give Details',projects_third_path,:method=>'get') %>
    </li>
  <% end %>
  <li>
    <%= link_to('Logout', destroy_user_session_path, :method=>'Delete') %>
  </li>
  </ul>


<% else %>

    <%#= link_to('Login', new_user_session_path, :method=>'get')  %>

    <%#= link_to('Signup', new_user_registration_path, :method=>'get')  %>

<% end %>
<%= yield %>


</body>

</html>
